@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap%27");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap%27");


label {
    font-size: 1.12rem !important;
    font-family: Montserrat, sans-serif !important;
}


input {
    font-size: 0.8rem !important;
    font-family: Poppins, sans-serif !important;

}

button {
    font-family: Poppins, sans-serif !important;
}