<div class="container-fluid py-2">
  <nav class="navbar row justify-content-between m-0">
  <!-- Logo -->
      <div class="ml-2">                              
          <a class="navbar-brand logoGui" href="#">Guicar</a> 
      </div>
  <!-- Fim do logo -->

  <!-- Menu hamburguer -->
  <div class="dropleft">
  <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars" aria-hidden="true"></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" routerLink="/entrar">Vender Carro</a>
      <a class="dropdown-item" href="#rodape">Rede Sociais</a>
      <a class="dropdown-item" routerLink="/entrar">Entrar</a>
      <a class="dropdown-item" routerLink="/cadastro">Cadastrar</a> 
  </div>
  </div>
  <!-- Fim de menu hamburguer -->

  <!-- Menu -->
      <div class="mr-2 row menu">
        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink"></div>
        <div class="dropdown"> 
          <a class="nav-link mr-2 pr-4 pl-4 entrar dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" href="#">Vender Carros</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/entrar">Entrar</a>
          <a class="dropdown-item" routerLink="/cadastro">Cadastrar</a>
      
          </div>
          </div>
  

          <div class="dropdown"> 
          <a class="nav-link mr-2 pr-4 pl-4 entrar dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" href="#">Rede Sociais</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://github.com/moreiraguui" target="_blank"><i class="fab fa-github-alt pr-1"></i>GitHub</a>
          <a class="dropdown-item" href="https://www.linkedin.com/in/guilherme-moreira-souza/" target="_blank"><i class="fab fa-linkedin pr-1"></i>Linkedin</a>
          <a class="dropdown-item" href="https://www.instagram.com/carvalhoguui/" target="_blank"><i class="fab fa-instagram pr-1"></i> Instagram</a>
          </div>
        </div>
          <a class="nav-link mr-2 r-4 pl-4 entrar" routerLink="/entrar">Entrar</a>
          <a class="nav-link rounded ml-2 botao pr-4 pl-4" routerLink="/cadastro">Cadastrar</a>
      </div>
  <!-- Fim do menu -->
  </nav>

</div>